html {
    size: 100%;
}

body {
    background-color: #E5E5E5;
    color: black;
    size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

a{
    text-decoration: none;
}

#lien, #lien:hover, #lien:visited {
    color: black;
}

#tab {
    margin-left: 1em;
    margin-top: -12px;
    padding-bottom: 7px;
}

#chrono {
    color: black;
    margin-left: 1em;
    text-align: center;
    background-color: #F5F5F5;
    width: 150px;
    height: auto;
}