html {
    size: 100%;
}

body {
    background-color: #E5E5E5;
    color: black;
    size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

a{
    text-decoration: none;
}

#lien, #lien:hover, #lien:visited {
    color: black;
}

div {
    height: 100px;
    width: 300px;
}

#div1 {
    flex: 1;
    background-color: aqua;
}

#div2 {
    flex: 0.5;
    background-color: blueviolet;
}

#div3 {
    flex: 3;
    background-color: yellow;
}